html {
    font-size:12px;
}
fieldset {
    width:520px; margin: 0 auto;
}
legend{
    font-weight:bold; font-size:14px;
}
label{
    float:left; width:70px; margin-left:10px;
}
.left{
    margin-left:80px;
}
.input{
    width:150px;
}
span{
    color: #666666;
}
