<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
       ">  
 

 
<!-- 建立数据源 -->
<bean id="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
       <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/kekebookstore"></property>
		<property name="user" value="keke"></property>
		<property name="password" value="root"></property>
		
		<property name="acquireIncrement" value="5"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="minPoolSize" value="5"></property>
		<property name="maxPoolSize" value="20"></property> 

		<property name="maxStatements" value="0"></property>
		<property name="maxStatementsPerConnection" value="5"></property> 

		
</bean>
<!-- 把数据源注入给Session工厂 -->
<bean id="sessionFactory"
   class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
   <property name="dataSource">
    <ref bean="c3p0" />
   </property>
   <property name="configLocations">
    <list>
     <value>classpath:hibernate.cfg.xml</value>
    </list>
   </property>  
</bean>

 
<!-- 把Session工厂 注入给dao-->
<bean id="userdao" class="dao.Userdao">
   <property name="sessionFactory">
    	<ref bean="sessionFactory" />
   </property>
</bean>

<bean id="bookdao" class="dao.Bookdao">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
</bean>
<bean id="orderdao" class="dao.Orderdao">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
</bean>
<bean id="categorydao" class="dao.Categorydao">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
</bean>

<!-- 把dao注入给Service -->
<bean id="user_service" class="service.User_service">
   <property name="userdao" ref="userdao" />
</bean>

<bean id="order_service" class="service.Order_service">
   <property name="orderdao" ref="orderdao" />
    <property name="userdao" ref="userdao" />
</bean>

<bean id="book_service" class="service.Book_service">
   <property name="bookdao" ref="bookdao" />
</bean>

<bean id="category_service" class="service.Category_service">
   <property name="categorydao" ref="categorydao" />
</bean>


<!-- 把Action注入给Service -->
<bean id="client.LoginAction" class="client.LoginAction" scope="prototype">
   <property name="user_service" ref="user_service" />
</bean>

<bean id="client.RegisterAction" class="client.RegisterAction" scope="prototype">
   <property name="user_service" ref="user_service" />
</bean>

<bean id="client.OrderAction" class="client.OrderAction" scope="prototype">
   <property name="order_service" ref="order_service" />
</bean>

<bean id="client.IndexAction" class="client.IndexAction" scope="prototype">
   <property name="book_service" ref="book_service" />
   <property name="category_service" ref="category_service" />
</bean>

<bean id="client.CartAction" class="client.CartAction" scope="prototype">
   <property name="book_service" ref="book_service" />
</bean>
<bean id="client.ProfileAction" class="client.ProfileAction" scope="prototype">
    <property name="user_service" ref="user_service" />
</bean>



<bean id="admin.BookAction" class="admin.BookAction" scope="prototype">
   <property name="book_service" ref="book_service" />
   <property name="category_service" ref="category_service" />
</bean>

<bean id="admin.CategoryAction" class="admin.CategoryAction" scope="prototype">
   <property name="category_service" ref="category_service" />
</bean>

<bean id="admin.OrderAction" class="admin.OrderAction" scope="prototype">
   <property name="order_service" ref="order_service" />
</bean>

<bean id="admin.UserAction" class="admin.UserAction" scope="prototype">
   <property name="user_service" ref="user_service" />
</bean>

</beans>
